<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.WindHunter">
    <uses-sdk android:minSdkVersion="15"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".WelcomeActivity" android:theme="@style/welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".MainActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".WeiboActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".UserActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".AtActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".PostActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".RepostActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".UserWeiboActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".BigImageActivity"/>
        <activity android:name=".GetFollowForPostActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".CollectionActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
